.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 48rem) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 62rem) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
